# dependencies
node_modules/

# next.js
.next/
out/

# vercel
.vercel/

# testing
coverage/

# production
build/

# env files (keep local only)
.env*
next-env.d.ts

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

# npm logs
npm-debug.log*
